<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	NOTA: este fichero NO se está usando. Se incluye sólo para confundir a Spring Tool Suite
	y que se pueda lanzar la aplicación desde dentro de STS.
 -->

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

</web-app>
